.App {
  text-align: center;
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search{
  width: 35rem;
  outline: none;
  border: none;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: .5rem; 
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: auto;
  place-content: center;
}
input{
  border: none;
  width: 100%;
  height: 3rem;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 1rem;
}
.search ::placeholder{
  font-size: 1rem;
  text-align: justify;
  color: white;
}
button{
   background-color: yellowgreen;
   outline: none;
   border:none;
   height: 3rem;
   border-radius: .5rem;
   width: 7rem;
   font-size: 1rem;
   font-weight: 600;
   font-family: Helvetica, sans-serif;
   color: black;
}
.h1{
  margin: 0;
  font-size: 3.5rem;
  font-family: "Montserrat";
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-shadow: 0 2px #4361ee, 0 4px #4361ee, 0 6px #4361ee;
  animation: bounce 2s ease-in-out
}
span{
  font-family: "Montserrat";
  font-weight: 600;
  color: rgba(245, 181, 61, 0.815);
}
.appInfo{
  margin-bottom: 1rem;
  width: 40rem;
}

 @keyframes bounce {
        0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-55px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px); }
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);}
    }
    @media screen and (max-width: 400px) {
      .search{
        width: 20rem
      }
      input{
        width: 100%;
      }
      .h1{
        font-size: 2rem;
      }
      .appInfo{
        width: 100%
      }
    }
