.info{
  background-color: white;
  color: darkslateblue;
  border: 1px solid #DDDDDD;
  padding: 0 1rem;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px 0 rgba(0, 255, 98, 0.808); */
  margin: 0 0 2rem ;
}
h4{
  margin: .85rem 0;
}

/* bit_rate = {result.bit_rate} duration = {result.duration} size = {result.size} start_time = {result.start_time} nb_streams = {result.nb_streams}   /> */