.info{
  background-color: white;
  color: darkslateblue;
  border: 1px solid #DDDDDD;
  padding: 0 1rem;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-weight: 400;
  margin: 0 0 2rem ;
  width: 35rem;
}
h4{
  margin: .85rem 0;
}